h1{
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* comentarios */
table{color:royalblue;}
body{background-color: blanchedalmond;}
.column.side{border: 1px solid slategrey;}
header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: silver;
  }
menu{
    list-style-type: none;
}  
menu > a > li{
    display: inline;
}
